@model IEnumerable<Services>

@{
    var pageName = ViewBag.CurrentCategory;
    ViewData["Title"] = pageName;
}

<h2>@pageName</h2>
<hr />

@foreach (var service in Model)
{
    @await Html.PartialAsync("Servicesummary", services)
}
<br />
